API_ID=11716814
API_HASH=f24cd1bb63537812542987850fb50fcd
BOT_TOKEN=8155231078:AAFJL7Nzs4pJHGHrAAoW0yrBESeA6aj6c_Q
LOG_GROUP_ID=-1002709794476
MONGO_DB_URI=mongodb+srv://ghostsakeie:ghostsakeie@cluster0.e2ojjou.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6854343236
STRING_SESSION=BQCyyM4AYO535EvXk0YEZb5x28FtCQNGu4SHLlROm4fHZi6i4Zd9K3dV339A6XWbUPmKYEkjlitfYjS-XGIv-cj--RmIdIBi7CAt4cn3DLPFxeMkEpkdg-foj0BGzAt9LozWzXSJ7UjTpvwU_IaLc1K3MTT1Sx1dRe54zN9-jq-eBCByBT0dwyeDV13FnxSUSpgTr9aUtTI6635qPqoj6x4c8h_FfB59Q9mDtf6N11yGYW9oQ8L6jnjPoba8_Ic9NsuxobN8qk-XHfSpsi8FP0W4WBvXRTlbyctb4E75M4zr-6K1g_PKzbXNR_r-f3P6zcDmWsqZsad6eSA-06dhrxzyFzR_2gAAAAGYjPpEAA
